*{
    box-sizing: border-box;
}

.keyboard {
    border-radius: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vw 15vw;
    margin: auto;
}

.keyboard button {
    width: 5vw;
    height: 5vw;
    color: white;
    background-color: brown;
}

.row{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-evenly;
}

.key{
    stroke: #306f91;
    stroke-width: 5;
    border-radius: 50%;
    color: white;
    background-color: black;
    margin: 3px;
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 1em;

}

.key :active{
    background-color: pink;
}

.lamppanel {
    width: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
}

.lamppanel button {
    color: black;
    background-color: white;
    border-radius: 50%;
}

.inputContainer {
    width: 50%;
    height: 20vh;
    float: left;
    background: white;
    box-shadow: 0 0 20px 2px grey;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    font-size: 2em;
}

.outputContainer {
    font-size: 2em;
    width: 50%;
    height: 20vh;
    float: right;
    background: white;
    box-shadow: 0 0 20px 2px grey;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.plugboardContainer{
    float: right;
    height: fit-content;
    align-items: center;
    display: flex;
    width: 50%;
}

.plugboard {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;

}


.row{
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: space-evenly;
}


.plugboard button {
    width: 30%;
    border-radius: 10%;
    height: 30px;
    color: black;
    background-color: white;

}
.setback button {
    width: 100%
}
