body {
    background-color: #b2b2b2;
    font-family: Consolas, monospace;
    min-height: 100%;
}

h1{
    text-align: center;
}

p {
    display: inline;
    font-size: 1.5vw;
}

#offset_heading{
    background-color: #b2b2b2;
    color: black;
    font-size: 1.5vw;
}

button {
    cursor: pointer;
}

#body_table{
    padding: 0;
    width: 100%;
}

#body_table td{
    width: 50%;
    padding-top: 1%;
}

/* Variant Menu: */
#variantMenu{
    width: 30%;
    height: fit-content;
    font-size: 1vw;
}

#variantMenu select{
    width: 100%;
    height: 25vh;
}


/* Container: */
.inputContainer, .outputContainer {
    font-size: 1.5vw;
    height: 18vh;
    margin: 1%;
    background: white;
    box-shadow: 0 0 0.1em grey;
    border-radius: 0.5rem;
    align-items: center;
    overflow-wrap: anywhere;
    overflow-y: auto;
}

.rotorContainer p{
    background-color: black;
    color: white;
    margin: 2%;
    padding: 1.5%;
    align-self: center;
    font-size: 1.5vw;
}

.plugboardContainer{
    font-size: 1vw;
    box-shadow: 0 0 0.1em grey;
    height: 10vh;
    margin: 1%;
    line-height: 10vh;
    background: white;
    border-radius: 0.5rem;
    overflow-wrap: anywhere;
}

/* Keyboards: */
.plugboard {
    margin:  3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.keyboard {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0;
}
.lamppanel {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0;
}
.row{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-evenly;
}

/* Keys: */
.key {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    font-size: 1.5vw;
}
.keyboard button {
    color: white;
    background-color: black;
    box-shadow: 0 5px #999;
    font-size: 1vw;

}

.lamppanel button {
    color: black;
    background-color: white;
    cursor: default;
    font-size: 1vw;

}
.plugboard button {
    text-align: center;
    font-size: 1vw;
    width: 2vw;
    border-radius: 10%;
    height: 2vw;
    color: black;
    background-color: white;
}
.reset button {
    width: fit-content;
}

/* Buttons */
#showMenuBtn, #resetBtn, #clearBtn{
    height: 7vh;
    width: 7vh;
    margin-right: 8%;
}

#showMenuBtn {
    background-image: url("../images/setting_icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #b2b2b2;
    border: none;
}
#resetBtn{
    background-image: url("../images/delete_icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #b2b2b2;
    border: none;
}
#clearBtn{
    background-image: url("../images/reset_icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #b2b2b2;
    border: none;
}
