body {
    background: #337AB7
}

#help-tr:hover {
    background-color: green;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    color: #ffffff;
}

a:link, :visited {
    color: #00ff00;
}